
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: whitesmoke;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: whitesmoke;
}

h4{
    font-size:20px ;
    color:whitesmoke;
}

h6{
    font-size: 14px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color:antiquewhite;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;

}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}
button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(26, 167, 177);
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid rgb(26, 167, 177);
    
    outline: none;
    transition: 0.2s ease;
}
button.white:hover{
    background-color: #135f5a;
    color: #eedfe2;
}
button.normal:hover{
    background-color: #135f5a;
    color: #eedfe2;
}

body{
    width: 100%;
}
.logo{
    height: 50px;
    width: 50px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #eeeff3;
    box-shadow: 0 15px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: rgb(4, 139, 180);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 2px;
    background: rgb(4, 139, 180);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("images/image1.jpg");
    height: 90vh;
    width: 100%;
   
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    padding: 0 80px;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4{
    padding-bottom: 15px;

}

#hero button{
    padding: 14px 80px 14px 65px;
    background-color: transparent;
    color: rgb(26, 167, 177);
    border:2px solid rgb(238, 221, 221);
    text-decoration-color: rgb(100, 87, 87);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700px;
    cursor: pointer;
}
#hero button:hover{
    color: rgb(4, 139, 180);

    text-decoration:underline;
}
#feature .f-box{
    padding:25px 15px;
    text-align: center;
    width: 250px;
    height:300px;
    box-shadow: 20px 20px 34px rgb(199, 189, 189);
    border: 1px solid rgb(199, 189, 189);
    margin: 10px;
    border-radius: 20px;
}

#feature .f-box:hover{
    box-shadow: 10px 10px 54px rgba(68, 3, 39, 0.1);
}
#feature .f-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1.5;
    border-radius: 4px;
    color:#57cec6;
    background-color: #cc919e;
}
#feature .f-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#product1{
    text-align: center;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
   
}

#product1 .container{
    width: 23%;
    min-width:250px ;
    padding: 10px 12px;
    margin-top: 20px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.06);
    transition: 0.2s ease;
    position: relative;
}

#product1 .container:hover{
    box-shadow: 0 15px 15px rgba(0,0,0,0.06);
}
#product1 .container img{
    width: 100%;
    border-radius: 20px;
}


#product1 .container .desc{
    text-align: start;
    padding: 10px 0;
}
#product1 .container .desc span{
    color: #0d0d0e;
    font-size: 12px;
}
#product1 .container .desc h5{
    padding-top: 7px;
    color: #0d0d0e;
    font-size: 14px;
}
#product1 .container .desc i{
    font-size: 12px;
    color: rgb(243, 243, 18);
}
#product1 .container .desc h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .container .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #00b9ad;
    border:1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("images/b1.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#banner h4{
    font-size: 16px;
}
#banner h2{
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: rgb(224, 42, 42);
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/banner.jpg");
    height: 50vh;
    min-width: 580px;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
#sm-banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
#sm-banner span{
    padding-top: 15px;
    padding-bottom: 15px;
}

#banner1 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/g.jpg");
    height:30vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}
#banner1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#news-letter{
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-position: 20% 30%;
    background-color: #0d0d0e;
    margin-bottom: 0;
}
#news-letter input{
    height: 3.152rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-radius: 20px;

}

#news-letter button{
    white-space: nowrap;
    margin: 2px;
    border-radius: 20px;
    height: 40%;
    
}
#news-letter .form{
    display: flex;
    width: 40%;
    height: 40%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #adc5b0;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    padding-bottom: 20px;
}
footer p{
    padding-bottom: 20px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin: 0 0 8px 0;
}
footer .follow{
    margin-top: 20px;

}
footer .follow i{
    color: #384741;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #18968d;
    border-radius: 6px;
    width: 35%;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .install img:hover{
    box-shadow: 0 15px 15px rgba(20, 20, 20, 0.06);;
}

footer .col a{
    color:#000;
    font-size: 15px;
    padding: 8px 0;

}
footer .follow i:hover,
footer .col a:hover{
    color: #043835;
}
.copyright{
    text-align: center;
    font-size: 12px;
    display: block;
    background-color: #cce7d0;
    padding: 2px;
    width: 100%;
}
body{
    background-color: #d2e2d4;
}

#mobile{
    display: none;
    align-items: center;

}
#close{
    display: none;
}

#navbar.active{
    right:0px;
}

/*media Query*/

@media (max-width:799){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        height: 100vh;
        width: 300px ;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;

    }
    #close{
        position: absolute;
        top:30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: initial;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        background-position: top 30% right 30%;
        height: 90vh;
        padding: 0 80px;
        
    }
    #feature{
        justify-content: center;
    }
    #feature .f-box{
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
        
    }
    #product1 .container{
            margin: 15px;
        
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner1{
        padding: 0 80px;
    }
    #banner1 .banner-box{
        width: 25%;
    }
    #news-letter .form{
        width: 60%;
    }
}

@media (max-width:477px) {
    #navbar{
        padding: 10px 30px;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38%;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;

    }
    .section-p1{
        padding: 20px;
    }
    #feature .f-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature{
        justify-content: space-between;
    }
    #product .pro-container{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #banner1{
        padding: 0 20px;
    }
    #banner1 .banner-box{
        width: 100%;
    }
    #news-letter{
        padding: 40px 20px;
    }
    #news-letter .form{
        width: 100%;
    }

}

/*SHOP SECTION*/

#page-header{
    background-image: url(images/shop1.jpg);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    flex-direction: column;

}

#pagination{
    text-align: center;

}
#pagination a{
    text-decoration: none;
    background-color: #085e59;
    padding: 15px 20px;
    border-radius: 5px;
    color: rgb(201, 199, 195);
    font-weight: 600;
}

/*shop1*/

#details .pro-details{
    width: 50%;
    margin-right: 60px;
}
.img-grp{
    display: flex;
    justify-content: space-between;
}
.img-col{
    flex-basis: 24%;
    cursor:pointer;
    padding-top: 4px;
}

#details{
    display: flex;
    margin-top: 20px;
}
#details .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#details .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#details .single-pro-details h2{
    padding: 40px 0 20px 0;
}
#details .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-weight:bold;
}
#details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}
#details .single-pro-details span{
    line-height: 25px;
}

/* blog */

#page-header img{
    height: 100vh;
}

#page-header .blog-head{
    background-image: url('images/b19.jpg');
 
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;

}
#blog img{
    width: 100%;
    height: 400px;
    object-fit:cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a:after{
    content: "";
    width: 50px;
    height:2px ;
    position: absolute;
    background-color: #000;
    top:8px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: rgb(4, 67, 70);

}
#blog .blog-details a:hover::after{
    color: rgb(4, 67, 70);
    
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    z-index: -9;
}

/*about*/

#page-header .about-header{
    background-image: url('images/ab7.png');
}
#abt-head img{
    width: 50%;
    height: auto;
}
#abt-head {
    display: flex;
    align-items: center;

}
#abt-head div{
    padding-left: 40px;

}
#abt-app{
    text-align: center;
}
#main img{
    height: 50vh;
    width: 75%;
}

#main{
    display: flex;
    justify-content:space-around;
    align-items: center;

   
}
#main img:hover{
    box-shadow: 20px 20px 34px rgb(150, 143, 143);
    transition: 1s;
}

#abt-head p{
    line-height: 30px;
}
#abt-head abbr{
    line-height: 30px;
}


/*contact details*/

#contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-details .details{
    width: 50%;
}
#contact-details .details span
{
    font-size: 16px;
}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0px;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details  li i{
    font-size: 16px;
    padding-right: 22px;
}
#contact-details .details  li p{
    margin: 0;
    font-size: 16px;
}
#contact-details .map{
    width: 50%;
    height: 400px;

}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #565252;
    margin-left: 20px;
}
#form-details form span{
    padding-left: 20px;
    font-size: 16px;
}
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 20px;
}

#form-details button{
    margin-left: 20px;
    padding: 10px;
    width: 100px; 
    border: 1px solid rgb(55, 51, 51);
    border-radius: 20px;
    font-weight: 700px;
    background-color: #cfdfd0;
    box-shadow: 4px 4px 0  rgb(155, 146, 146);
}
#form-details button:hover{
    background-color: #064a45;
    color: white;
    box-shadow: none;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #a2bfc7;
}


/*cart*/

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
   width: 75px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 250px;
    text-align: center;

}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #c3cacae4;
    border-left: none;
    border-right: none;
}
#cart table thead tr td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;

}
#cart table tbody td{
    font-size: 14px;

}
#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,#subtotal h3{
    padding-bottom: 15px;
    

}


#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    border-radius: 20px;
    height: 40px;


}
#coupon button{
    margin-left: 20px;
    padding: 10px;
    width: 100px; 
    border: 1px solid rgb(55, 51, 51);
    border-radius: 20px;
    font-weight: 700px;
    background-color: #cfdfd0;
    box-shadow: 4px 4px 0  rgb(155, 146, 146);
}
#coupon button:hover,
#subtotal button:hover{
    background-color: #064a45;
    color: white;
    box-shadow: none;
}
  
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse:collapse;
    width: 100%;
    margin-bottom: 20px;

}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;


}

#subtotal button{
    margin-left: 20px;
    padding: 10px;
    width: 40%; 
    border: 1px solid rgb(55, 51, 51);
    border-radius: 20px;
    font-weight: 700px;
    background-color: #cfdfd0;
    box-shadow: 4px 4px 0  rgb(155, 146, 146);
}
